.login{
    min-height: 100vh !important;

  

    
}

.btn{
    background-color: #da467d;
    border: 1px solid #da467d;
    color: white;
    padding: 8px 30px;
    display: block;
    margin: 20px 0;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
body{
    background-color: white !important;
}