


  <!--banner-->
  <div class="baner">
    <div class="ms-4 text-white">
        <h1>ABOUT</h1>
        <div class="links">
            <a routerLink="/home">Home</a> <span>/</span> <a routerLink="/products">About</a>
    
        </div>
    </div>

</div>

  <div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col-md-12 text-center">
            <p class="greeting-line  fw-bold">Welcome to our store</p>
            <h2 class="quality-line">QUALITY NEVER ,GOES OUT OF STYLE</h2>
            <p  class="text-muted fs-5 pp" >Hello and welcome to Stella, the place to find the best variety of products for every taste and occasion. We thoroughly check the quality of our goods, working only with reliable suppliers so that you only receive the best quality product. 
                We at Stella believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices, and ship them to you regardless of where you are located.
              </p>
        </div>
      
    </div>
  </div>

  <div class="container-fluid">
    <div class="banner-container-bg">
        <p></p>
    </div>
    <div class="container-fluid-3 mt-5 ">
    <div class="row align-items-center text-center justify-content-center">
        <div class="col-md-4">
            <h3 class="headers">OUR MISSION</h3>
            <p class="paragraphs ">The most extraordinary people in <br>
                the world today don't have a career. <br>
                They have a mission.</p>
        </div>
        <div class="col-md-4">
            <h3 class="headers">OUR VISION</h3>
            <p class="paragraphs">Create the highest grandest vision <br>
                possible for your life, because you <br>
                become what you believe.</p>
        </div>
        <div class="col-md-4">
            <h3 class="headers">YOUR SUPPORT</h3>
            <p class="paragraphs">The truth is, not saying 'thank you' <br>
                does more damage than actually <br>
                saying 'thank you' does good.</p>
        </div>
        </div>
  </div>
  </div>
  <div class="container-fluid  div-color">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../../../assets/Images/about.jpeg">
        </div>
        <div class="col-md-6">
            <h2 class="we-are-stella fs-1">WE ARE PROUDLY STELLA  FASHION</h2>
            <div class="features my-5">
            <h4 class="fs-4"><i class="fa-solid fa-truck-fast"></i>  FAST SHIPPING</h4>
            <p class="features-2">Get your order delivered quickly <br>
                with our expedited shipping options.</p>
            <h4  class="fs-4"><i class="fa-solid fa-rotate-left"></i> EASY RETURNS</h4>
            <p class="features-2">Enjoy hassle-free returns with our <br>
                 simple and straightforward return process.</p>
            </div>
        </div>
    </div>
  </div>
  

  <div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col-md-12 text-center">
           
            <h2 class="quality-line">THE FOUNDER</h2>
            <p  class="text-muted fs-5 pp" >Thank you for your visit. The man who does not work for the
                love of work but only for money is likely to either make money
                not find much fun in life.
              </p>
        </div>
      
    </div>
  </div>
  <app-footer></app-footer>