img{
    width: 60px;
    clip-path: circle(50%);
}
table{
    text-align: center;
   width: 100%;
}
td{
    vertical-align: middle;
    user-select: none;
}

@media(max-width:767px){
    .users{
        overflow-x: auto;
    }
}