@if(isloading){
    <app-loading></app-loading>
}@else{


    <div class="baner">
        <div class="ms-4 text-white">
            <h1>YOUR SHOPPING CART</h1>
            <div class="links">
                <a routerLink="/home">Home</a> <span>/</span> <a routerLink="/cartPage">YOUR SHOPPING CART</a>
        
            </div>
        </div>
    
    </div>
    
    <div class="container my-5">
        <div class="row g-5">
            <div class="col-md-8">
                <div class="cartitems">
                    <table class="table table-borderd shadow ">
                      <thead>
                        <tr >
                            <th class="py-4 px-4">PRODUCT</th>
                            <th class="py-4 px-4"></th>
                            <th class="py-4 px-4">TOTAL</th>
                            <th class="py-4 px-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                      @if (userCart.length>0) {
                        @for (item of userCart; track $index) {

                           
                                <tr>
                                    <td ><img src="{{item.img}}"  alt=""></td>
                                    <td >
                                        <div class="inputnumber">
                                            <button (click)="plus('dada'+$index,item.productId)"><i class="fa-solid fa-square-plus" ></i></button>
                                          
                                            <input type="text" [id]="'dada'+$index" readonly class=" text-center" value="{{item.quantity}}">
                                            <button [disabled]="isdisabled" (click)="minus('dada'+$index,item.productId)"><i class="fa-solid fa-square-minus" ></i></button>
                                        </div>
                                       
                                    </td>
                                    <td >{{item.quantity * item.unitPrice|currency}}</td>
                                    <td ><i class="fa-solid fa-xmark" (click)="removeItem(item.productId)"></i></td>
                                </tr>
                            
                         
                        }
                      }@else {
                        <tr><td colspan="4" class="noitems">No Items Here</td></tr>
                      }
                      </tbody>
                    </table>
                </div>

                <div class="w-25">
                    <button class="deleteAll btn " (click)="deleteAll(userData.UserId)">Clear</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="CART-TOTALS py-3 text-center">
                    <h3>CART TOTALS</h3>
                    <div class="row fw-bold text-muted"><div class="col"><p>SUBTOTAL : </p></div> <div class="col"><p>{{cartData.totalPrice|currency}}</p></div></div>
                    <hr>
                    <div class="row fw-bold "><div class="col"><p>Total : </p></div> <div class="col"><p>{{cartData.totalPrice|currency}}</p></div></div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn mx-1" (click)="updateCart()">Update Cart</button>
                    <button class="btn mx-1" [disabled]="userCart.length==0" routerLink="/payment" (click)="makeOrder(userCart)">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>





}

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#da467d  " fill-opacity="1" d="M0,0L80,32C160,64,320,128,480,133.3C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
