<div class="baner">
  <div class="ms-4 text-white">
      <h1>FAQS</h1>
      <div class="links">
          <a routerLink="/home">Home</a> <span>/</span> <a routerLink="/faqs">FAQS</a>
  
      </div>
  </div>

</div>


  <div class="container mt-5 ">
    <div class="row">
        <div class="col-12 col-md-4 mt-5 left-bg ">
            
            <h2 class="text-uppercase ms-5 header mt-5">Frequently asked questions</h2>
            <div class="contact mt-5 ms-5 lh-lg">
            <p class="font-weight-bold text-uppercase mt-5 ms-4">Ask us</p>
                <i class="bi bi-telephone text-secondary"></i> 
                <p class="d-inline mx-2"><u>+20 10-2345-6789</u></p> <br>
                <i class="bi bi-envelope text-secondary"></i>
                <p class="d-inline mx-2"><u>support&#64;stellastore.com</u></p>
            </div>

        
        </div>

        <div class="col-md-8 qs-container  mt-5 ">
            <div class="accordion ms-3" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How much does shipping cost?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The shipping fees vary based on the district. The range of shipping fee is between 45 and 75 EGP.</p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        When will my order arrive?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>For the home delivery option, your order is delivered at your address within 1-6 business days by Aramex. Please keep in mind that deliveries might take a little longer in mobile regions. Since the courier companies do not work on official and public holidays, your delivery will be made within the first following business day.</p>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How can I track my order? Where is my Order?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>We will send you a notification SMS when your order has been arrıved to sortıng center ın destınatıon cıty. You may track your order by the courier tracking link provided in the SMS. Registered customers may also track orders by logging in to ‘my account’ and clicking the order tracking link for the relevant order. Meanwhile, guest customers may follow the status of their order and track their orders by clicking the “Non-member Order Tracking” section on the home page footer.</p>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        How can I return the product or products in my order?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>In case you are not fully satisfied with the product or products you have ordered, you can return the items within 30 days from the date you have received the products. Returned items must be unused and in their original packing. Together with all returned products, any free of charge or promotion items, if any, which may have been sent as a part of the order, must be returned also.</p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        Can I return the items that I have purchased from the online store at the stores?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>You can return the items within 30 days purchased from https://Stella.com at the nearest Stella store with your invoice. Please click to find our store that is closest to you.</p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        What do I have to do for size changes? Can I have these replaced at the stores?
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>It currently is not possible for you to send the item/s you have purchased from the online store for an exchange. You can have your item/s replaced at our stores within 30 days of purchase. Our helpful store staff will gladly assist you in item exchanges. </p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                        When I want to add a product to my cart, I get a ‘This product cannot be added to shopping cart’ error. What do I have to do?
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>This is an error that is experienced from time to time, due to a reason arising from your web browser. Please click the setting section of your web browser (Chrome, Explorer, Safari, Firefox etc.) and delete the browsing data. As an alternative, you can also try again with another bowser (Chrome, Explorer, Safari, Firefox etc.)</p>
                      </div>
                    </div>
                  </div>
                <hr>

                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                        Do I have to pay an extra fee for cash on delivery payment option?
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>You can use our cash on delivery payment option for your orders up to 4000 EGP. Cash on delivery service fee is 15 EGP. In addition to the shipping fee, your orders will be charged at the cash on delivery payment service fee.</p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                        How can I create order by using cash on delivery service?
                      </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Click on “Cash on Delivery” on the payment screen. In order to place an order with the cash on delivery, you need to create a membership and select the delivery to address option. </p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                        Can I pay by credit card at the delivery?
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Only cash payment is received at the door. </p>
                      </div>
                    </div>
                  </div>
              </div>        
            </div>
    </div>
    
  </div>

  <app-footer></app-footer>