<div class="baner">
  <div class="ms-4 text-white">
      <h1>Returns</h1>
      <div class="links">
          <a routerLink="/home">Home</a> <span>/</span> <a routerLink="/returns">Returns</a>
  
      </div>
  </div>

</div>


<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-4 mt-5 left-bg ">
            
            <h2 class="text-uppercase ms-5 header mt-5">Frequently asked questions</h2>
            <div class="contact mt-5 ms-5 lh-lg">
            <p class="font-weight-bold text-uppercase mt-5 ms-4">Ask us</p>
                <i class="bi bi-telephone text-secondary"></i> 
                <p class="d-inline mx-2"><u>+20 10-2345-6789</u></p> <br>
                <i class="bi bi-envelope text-secondary"></i>
                <p class="d-inline mx-2"><u>support&#64;stellastore.com</u></p>
            </div>

           
        </div>

        <div class="col-md-8 qs-container  mt-5 ">
            <div>
                <h3 class="text-center">Returns and Exchange</h3>
            </div>
            <div class="accordion ms-4 mt-4" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Can I return my order that I have purchased from defacto.com at the stores?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>You can return the items within 30 days purchased from stella.com at the nearest Stella store with your invoice. </p>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What do I have to do for size changes? Can I have these replaced at the stores?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>It currently is not possible for you to send the item/s you have purchased from the online store for an exchange. To make an exchange, simply say your order number or phone number.You can have your item/s replaced at our stores within 30 days of purchase. </p>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How many days is the return period?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>In case you are not fully satisfied with the product/s you have purchased from our website, you can return the product/s within 30 days from the day you have received them.</p>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        How many days will the refund be made?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Returned products are returned within 10 working days at the latest from the time they reach our warehouse. According to Stella's return policy, you will be refunded as much as the amount you paid for the products purchased at a discount. <br>
                            The refund process for orders made through the Installment payment method takes 14-21 business days at the latest from the time they reach our warehouse.</p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        What do I have to do in case I receive an incorrect or damaged item?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>We act very carefully during the preparation of your order; therefore we hope that such circumstances will not be experienced. In case of a defective or incorrect product delivery, please return your order by Aramex for free. The order amount will be refunded to your credit card.. You also can ask for the refund to be made to your bank account. Please send your request by e-mail to the support&#64;stellastore.com address or call our whatsapp services line at +20 10-2345-6789.</p>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        How are refunds made for orders created with the cash on delivery method?
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>For orders created with the cash on delivery method, you can go to the nearest Stella store with your invoice and collect the refund amount in cash. 'Cash on delivery refunds' sent to our warehouse will be defined as money points to your customer account. Money points can only be used in our stella.com internet shop. </p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                        Please Read Our Return and Exchanges Policy.
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Just like in the stores, you can open the package in order to look at the item/s and try them on. Please retain the original packing and return it together with the product. Do not try the products on when you have put on any perfumes, shaving lotions with heavy fragrances or deodorants that might leave marks on. Do not wear the shoes outside; there should not be any dirt or scrape marks on the soles. Do not remove the tags. Bathing suits, underwear stockings, etc. cannot be returned due to hygiene reason. This return policy does not prejudice your legal rights regarding damaged products.</p>
                      </div>
                    </div>
                  </div>
                <hr>

                
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                        Do I have to pay an extra fee for cash on delivery payment option?
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>You can use our cash on delivery payment option for your orders up to 4000 EGP. Cash on delivery service fee is 15 EGP. In addition to the shipping fee, your orders will be charged at the cash on delivery payment service fee.</p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                        How can I create order by using cash on delivery service?
                      </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Click on “Cash on Delivery” on the payment screen. In order to place an order with the cash on delivery, you need to create a membership and select the delivery to address option. </p>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                        Can I pay by credit card at the delivery?
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <p>Only cash payment is received at the door. </p>
                      </div>
                    </div>
                  </div>
              </div>        
            </div>
    </div>
    
  </div>

  <app-footer></app-footer>